%h1 All Authors
- @authors.each do |author|
  %p
    <a href="/authors/#{author.id}">#{author.lastName}, #{author.firstName}</a>
  %p Quotes
  - quotes = Quote.where(:author_id => author.id)
    - quotes.each do |quote|
    <li><a href="/quotes/#{quote.id}">#{quote.body}</a></li>

<a href="/quotes">See All Quotes</a>