%h1 All Quotes
- @quotes.each do |quote|
  - author = Author.find(quote.author_id)
  %p
    <a href="/quotes/#{quote.id}">#{quote.body}</a>
    by <a href="/author/#{author.id}">#{author.lastName}, #{author.firstName}</a>
<a href="/quotes/new">Add New Quote</a>