%p Author: #{@author.lastName}, #{@author.firstName}
%p Quotes:
- @quotes.each do |quote|
  <li><a href="/quotes/#{quote.id}">#{quote.body}</a></li>

<a href="/authors">All Authors</a>
<a href="/authors/edit/#{@author.id}">Edit</a>